@model SocialMedia.Models.Post

@{
    ViewData["Title"] = "Post Details";
}

<h1>Post Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.post_txt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.post_txt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.post_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.post_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.post_like)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.post_like)
        </dd>
    </dl>
</div>
<a asp-action="EditPost" asp-route-id="@Model.post_id">Edit</a> |
<a asp-action="Index" class="text-white bg-success" style="padding:0 5px 0 5px; border-radius:5px; text-decoration-line:none;">Go Back To Your Account</a>
